<awnis-navbar></awnis-navbar>
<div class="awnis-container">

  <div class="awnis-carousel">
    <awnis-carousel></awnis-carousel>
  </div>

  <div id="netinstall" class="awnis-netinstall awnis-center">
      <h4> Need an estimate on your networking infrastructure?</h4>
      <h2>Let our tech experts provide the solution for your business Network Installation</h2>
      <hr>
      <div class="netinstall-content">
        <p class="lead">
            In today’s competitive business environment, 
            having reliable and efficient IT infrastructure is no longer an option - it’s a requirement. 
            AWNIS provides cost effective and versatile technical support services for small and medium-sized business. 
            We combine the latest technologies together with our professional IT talent,
            to deliver innovative solutions that streamline your business operations and improve your bottom line.
        </p>
        <img src="assets/images/netschema.jpg" />
      </div>
  </div>

  <div id="netmaintenance" class="awnis-netmaintenance awnis-center">
    <h1>Network Maintenance</h1>
    <hr>
    <div class="netMaintenance-content">
      <p class="lead">
        The maintenance contract is critical to the network as every minute of downtime impacts the bottom line.
        And while clients know, and budget for, the cost of the annual renewal, 
        the benefits of the OEM contracts aren’t evaluated annually.  
        Are they an efficient use of OpEx? Or are premiums being paid
        just to maintain eligibility for software updates that may or may not be necessary?
      </p>
      <p class="awnis-cta">Contact AWNIS for rapid onsite Network Maintenance, our hourly rates are more then reasonable for any small to medium size Business.</p>
      <img src="assets/images/socnet.jpg" />
    </div>
  </div>

  <div id="telcom" class="awnis-telcom">
    <div class="background-image"></div>
    <div class="content-header">
      <h1>Telecommunications</h1>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
    <div class="content-box">
      <div>
        <p>
          Squid keytar palo santo jean shorts, typewriter gentrify you probably haven't heard of them locavore VHS tumeric lumbersexual normcore green juice next level. Paleo typewriter twee glossier letterpress celiac actually enamel pin 8-bit four dollar toast gentrify. Synth pug paleo vaporware shaman brunch. You probably haven't heard of them man braid prism, intelligentsia small batch keytar selvage af meditation portland poke paleo pour-over affogato succulents. Freegan portland snackwave, tumblr polaroid mixtape tilde health goth farm-to-table drinking vinegar. Hashtag chicharrones quinoa, vape viral hammock mixtape raclette next level. Subway tile literally celiac etsy, schlitz distillery hot chicken chambray whatever letterpress.
        </p>
      </div>
      <div>
        <p>
          Squid keytar palo santo jean shorts, typewriter gentrify you probably haven't heard of them locavore VHS tumeric lumbersexual normcore green juice next level. Paleo typewriter twee glossier letterpress celiac actually enamel pin 8-bit four dollar toast gentrify. Synth pug paleo vaporware shaman brunch. You probably haven't heard of them man braid prism, intelligentsia small batch keytar selvage af meditation portland poke paleo pour-over affogato succulents. Freegan portland snackwave, tumblr polaroid mixtape tilde health goth farm-to-table drinking vinegar. Hashtag chicharrones quinoa, vape viral hammock mixtape raclette next level. Subway tile literally celiac etsy, schlitz distillery hot chicken chambray whatever letterpress.
        </p>
      </div>
      <div>
        <p>
          Squid keytar palo santo jean shorts, typewriter gentrify you probably haven't heard of them locavore VHS tumeric lumbersexual normcore green juice next level. Paleo typewriter twee glossier letterpress celiac actually enamel pin 8-bit four dollar toast gentrify. Synth pug paleo vaporware shaman brunch. You probably haven't heard of them man braid prism, intelligentsia small batch keytar selvage af meditation portland poke paleo pour-over affogato succulents. Freegan portland snackwave, tumblr polaroid mixtape tilde health goth farm-to-table drinking vinegar. Hashtag chicharrones quinoa, vape viral hammock mixtape raclette next level. Subway tile literally celiac etsy, schlitz distillery hot chicken chambray whatever letterpress.
        </p>
      </div>
    </div>
  </div>

  <div id="cctv" class="awnis-cctv">
    <div class="cctv-center">
      <h1>CCTV Surveillance</h1>
      <hr>
      <p class="lead">
        Polaroid helvetica authentic heirloom pop-up. 
        Green juice literally pour-over subway tile, 
        fanny pack YOLO knausgaard pok pok hoodie hashtag. 
        You probably haven't heard of them post-ironic locavore ethical beard, 
        kickstarter YOLO fixie la croix..
      </p>
    </div>
      <div class="content-box">
      <div class="lead-box">
        <ul>
          <li>Camera Installation</li>
          <li>Wireless Camera Systems Configuration</li>
          <li>Wired Camera cabling</li>
          <li>DVR System setup</li>
        </ul>
        <p class="lead">
          Try-hard shaman kale chips, 
          squid taxidermy sartorial vinyl truffaut lo-fi 3 wolf moon craft 
          beer cloud bread raclette kogi enamel pin. Tumblr echo park palo 
          santo 8-bit chartreuse man braid hella art party flexitarian marfa 
          tofu portland tote bag food truck. Chia air plant scenester, 
          vexillologist tattooed normcore brunch cornhole franzen unicorn.
         </p>
      </div>
      <span class="img-flex">
          <img src="assets/images/cctv.jpg" />
      </span>
    </div>
  </div>

  <div id="data" class="awnis-data awnis-center">
      <h1>Data Services</h1>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

  <div id="admin" class="awnis-admin">
    <div class="background-image"></div>
    <div class="border-box"></div>
    <div class="content awnis-center">
      <h1>Administration</h1>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
  </div>  

  <div id="webdev" class="awnis-webdev awnis-center">
      <h1>Web Development</h1>
      <p class="lead">AWNIS uses the latest in modern web development technologies to build your Dreams.</p>
      <div class="logo-container">
        <span *ngFor="let uri of imageUrls">
          <img class="logo-image" [src]="imageUrlLookUp(uri.image)" />
        </span>  
        </div>
  </div>
  <div class="footie">
  <footer class="awnis-footer">
    <div class="aw-col-1">
      <h5>Contact Information</h5> 
      <div class="aw-address">
        <h4>A&W Networking and Integration Services</h4>
        <p>Thomas Winbush Jr, CEO</p>
        <address>
          12625 Fredrick Street Suite 15, #337
          Moreno Valley, Ca 92553
          951.796.8551
          a@wnetworking@gmail.com
        </address>
      </div>
    </div>
    <div class="aw-col-2">
      <h5>Follow Us</h5>
      <ul> 
        <li><a><i class="fa fa-twitter fa-1x" aria-hidden="true">&nbsp;&nbsp;</i>Twitter</a></li>
        <li><a><i class="fa fa-facebook fa-1x" aria-hidden="true">&nbsp;&nbsp;</i>Facebook</a></li>
        <li><a><i class="fa fa-instagram fa-1x" aria-hidden="true">&nbsp;&nbsp;</i>Instagram</a></li>
        <li><a><i class="fa fa-linkedin fa-1x" aria-hidden="true">&nbsp;&nbsp;</i>LinkedIn</a></li>
      </ul>
    </div>
    <div class="flex-spacer"></div>
  </footer>
  <hr>
</div>
</div>
