<div class="awnis-carousel">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img class="aw-carousel-image" src="assets/images/carousel/cablerack.jpeg" alt="Random first slide">
      <div class="carousel-caption">
        <h3>Network Installation</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="aw-carousel-image" src="assets/images/carousel/ienights.jpeg" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Network Maintenance</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="aw-carousel-image" src="assets/images/carousel/ucr.jpeg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Telecommunications</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="aw-carousel-image" src="assets/images/carousel/cat5cables.jpeg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Data Services</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="aw-carousel-image" src="assets/images/carousel/iesnowcaps.jpeg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>CCTV Surveillance</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="aw-carousel-image" src="assets/images/carousel/webdev.jpeg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Web Development</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="aw-carousel-image" src="assets/images/carousel/plugin.jpeg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Administration</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="aw-carousel-image" src="assets/images/carousel/data.jpeg" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Archer & Winbush Network Integration Services</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
